@font-face {
  font-family: customFont;
  src: url('../src/fonts/CLRNDNC.TTF');
}

body {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: customFont, sans-serif;
}

button {
  font-family: customFont, sans-serif;
}

.navigation-bar {
  position: fixed;
  width: 100%;
  top: 0;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo {
  height: 80%;
}

.navigation-list {
  display: flex;
  width: 70%;
  justify-content: space-around;
  list-style: none;
}

.home-page {
  display: grid;
  grid-template-columns: 1fr;
  overflow-y: auto;
  margin: 5% auto;
}

.episode-tile {
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.episode-image {
  width: 85%;
}

.popup-wrapper {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  background-color: rgb(202, 202, 202);
}

.popup {
  width: 90%;
  margin: 5% auto;
  padding: 10% 5%;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#close-button {
  font-size: 2em;
  position: absolute;
  right: 2%;
  top: 2%;
}

.popup-episode-img {
  width: 90%;
  object-fit: contain;
}

.popup-episode-header {
  font-size: 1.7em;
}

.popup-comments-header,
.popup-form-header {
  font-size: 1.5em;
}

.popup-episode-details-wrapper {
  display: grid;
  width: 70%;
  grid-template-columns: 1fr 1fr;
}

.popup-episode-details-wrapper > * {
  margin: 0;
  padding: 1% 0;
}

.popup-comments-container {
  width: 70%;
  height: 15vh;
  padding: 0 2%;
  overflow-y: scroll;
}

.comment-line {
  display: flex;
  padding: 0;
  margin: 0;
}

.comment-line > * {
  margin: 1% 2%;
}

.comment-date {
  width: 20%;
}

.comment-user {
  width: 35%;
}

.comment-text {
  width: 45%;
}

#popup-comments-form {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.form-input {
  border: none;
  border-radius: 10px;
  margin: 1% 0;
  padding: 3%;
}

.form-label {
  display: none;
}

.formsubmit-btn {
  width: 50%;
  font-size: 1.1em;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: 2px solid black;
}

.comment-button {
  margin-top: 5px;
  margin-bottom: 5px;
}

#like-button {
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .home-page {
    grid-template-columns: 1fr 1fr;
  }

  .popup {
    width: 70%;
    margin: 10% auto;
  }

  #close-button {
    font-size: 2.4em;
  }

  .popup-episode-details-wrapper > * {
    font-size: 1.4em;
  }

  .popup-episode-header {
    font-size: 2em;
  }
}

@media screen and (min-width: 992px) {
  .home-page {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #close-button {
    font-size: 3em;
  }

  .popup-episode-header {
    font-size: 2em;
  }

  .popup-comments-header,
  .popup-form-header {
    font-size: 1.8em;
  }

  .comment-line > * {
    font-size: 1.3em;
  }

  .formsubmit-btn {
    font-size: 1.5em;
  }
}
