body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  list-style-type: none;
  gap: 50px;
}

.popup-wrapper {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: black;
}

.popup {
  width: 70%;
  margin: 5% auto;
  padding: 5%;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#close-button {
  font-size: 3em;
  position: absolute;
  right: 2%;
  top: 2%;
}

.episode-img {
  /* height: 90%; */
  width: 90%;
  object-fit: contain;
}

.episode-details-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.episode-details-wrapper > * {
  width: 50%;
}

.comments-container {
  width: 70%;
  height: 15vh;
  padding: 0 2%;
  overflow-y: scroll;
}

.comment-line {
  display: flex;
  padding: 0;
  margin: 0;
}

.comment-line > * {
  margin: 1% 0;
}

.comment-date,
.comment-user {
  width: 25%;
}

#comments-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  display: none;
}

.form-input {
  margin: 5%;
  padding: 3%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: 2px solid black;
}

.home-page {
  position: fixed;
  width: 100%;
  margin: 5%;
}

ul.episode-list {
  list-style-type: none;
  margin-top: -50px;
  width: 80%;
}

ul.episode-list li {
  display: inline-block;
  width: 250px;
}

.comment-button {
  margin-top: 5px;
  margin-bottom: 5px;
}
